<section class="check">
    <div class="container">
        <div class="check__pre-title common-pre-title" id="pre-title">
            Результат прохождения теста <img src="/images/small-arrow-grey.png" alt="Серая стрелка">
        </div>
        <div class="check__title big-title" id="title">
            Правильные ответы <span>к тесту</span>
        </div>
        <div class="check__user-info" id="user-info">
            Тест выполнил <span></span>
        </div>
        <div class="check__answers" id="answers">
        </div>
        <div class="common-action">
            <a href="#/result" id="previous-page">Обратно к моему результату теста
                <img src="/images/small-arrow.png" alt="Стрелка">
            </a>
        </div>
    </div>
</section>
