.result {
    padding-top: 140px;
    padding-bottom: 31px;
    text-align: center;
}

.result .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.result__image {
    position: absolute;
    top: 85px;
    z-index: -1;
}

.result__title {
    max-width: 588px;
    margin-bottom: 60px;
}

.result__score {
    background-image: url("../images/result-image.png");
    background-size: cover;
    background-position: center;
    width: 480px;
    height: 388px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Museo Sans Cyrl Bold, sans-serif;
    font-size: 158px;
    line-height: 190px;
    color: #FFFFFF;
}

.result__action {
    margin-top: 80px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
.result__action a {
    text-decoration: none;
    font-size: 17px;
    line-height: normal;
}

.result__action a img {
    margin-left: 13px;
}
